@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;

  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --container-xs: 32rem;
  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 96rem;
  --container-3xl: 112rem;

  /* Teal */
  --color-accent-50: oklch(0.984 0.014 180.72);
  --color-accent-100: oklch(0.953 0.051 180.801);
  --color-accent-200: oklch(0.91 0.096 180.426);
  --color-accent-300: oklch(0.855 0.138 181.071);
  --color-accent-400: oklch(0.777 0.152 181.912);
  --color-accent-500: oklch(0.704 0.14 182.503);
  --color-accent-600: oklch(0.6 0.118 184.704);
  --color-accent-700: oklch(0.511 0.096 186.391);
  --color-accent-800: oklch(0.437 0.078 188.216);
  --color-accent-900: oklch(0.386 0.063 188.416);
  --color-accent-950: oklch(0.277 0.046 192.524);

  /* Emerald */
  /*--color-accent-50: oklch(0.979 0.021 166.113);
  --color-accent-100: oklch(0.95 0.052 163.051);
  --color-accent-200: oklch(0.905 0.093 164.15);
  --color-accent-300: oklch(0.845 0.143 164.978);
  --color-accent-400: oklch(0.765 0.177 163.223);
  --color-accent-500: oklch(0.696 0.17 162.48);
  --color-accent-600: oklch(0.596 0.145 163.225);
  --color-accent-700: oklch(0.508 0.118 165.612);
  --color-accent-800: oklch(0.432 0.095 166.913);
  --color-accent-900: oklch(0.378 0.077 168.94);
  --color-accent-950: oklch(0.262 0.051 172.552);*/

  /* Slate */
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);

  /* Zinc */
  /*--color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.967 0.001 286.375);
  --color-gray-200: oklch(0.92 0.004 286.32);
  --color-gray-300: oklch(0.871 0.006 286.286);
  --color-gray-400: oklch(0.705 0.015 286.067);
  --color-gray-500: oklch(0.552 0.016 285.938);
  --color-gray-600: oklch(0.442 0.017 285.786);
  --color-gray-700: oklch(0.37 0.013 285.805);
  --color-gray-800: oklch(0.274 0.006 286.033);
  --color-gray-900: oklch(0.21 0.006 285.885);
  --color-gray-950: oklch(0.141 0.005 285.823);*/
}

@utility x-outline {
  @apply outline-solid outline-2 outline-offset-2 outline-accent-500 dark:outline-accent-500 relative z-10;
}

@utility x-placeholder {
  @apply text-gray-800/50 italic;
}

@utility x-autofill {
  box-shadow: 0 0 0px 50px var(--color-yellow-50) inset;
  -webkit-text-fill-color: var(--color-gray-800);

  .dark & {
    box-shadow: 0 0 0px 50px --alpha(var(--color-yellow-500)/20%) inset;
    -webkit-text-fill-color: var(--color-white);
  }
}

.dark {

  /**
   * Using dark: variant on placeholder gives warning on build
   * (maybe tailwind warning)
   */
  /* Real placeholders do not consume dark config on dark mode */
  & .placeholder\:x-placeholder::placeholder {
    color: --alpha(var(--color-gray-100)/50%);
  }

  /* For synthetic inputs */
  & .x-placeholder {
    color: --alpha(var(--color-gray-100)/50%);
  }

  & .x-autofill {
    box-shadow: 0 0 0px 50px var(--color-yellow-900) inset;
    -webkit-text-fill-color: var(--color-white);
  }
}

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
      local("Roboto"),
      url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url(./assets/fonts/roboto/Roboto-Italic.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/roboto-mono/RobotoMono-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/roboto-mono/RobotoMono-Bold.ttf) format("truetype");
  }

  HTML {
    @apply h-full;
  }

  BODY {
    /* background color is handled from html to avoid theme flicker */
    @apply h-full text-gray-700;
    @apply dark:text-gray-100 @container;

    scrollbar-color: --alpha(var(--color-gray-500)/50%) transparent;

    &.dark {
      scrollbar-color: var(--color-gray-500) transparent;
    }
  }

  BUTTON {
    @apply enabled:cursor-pointer;
  }

  #root {
    @apply h-full;
  }
}

@keyframes x-ani-width {
  from { width: 0; }
  to { width: 100%; }
}
